<div class="row">
  <div class="col-sm-4">
    <h1>Login / Sign Up</h1>
    <%= render 'form' %>
  </div>
    <div class="col-sm-4">    
    </div>
  <div class="col-sm-4">
    <button type="button" class="btn btn-outline-success" id="show_snake" >
      Snake game
    </button>
    <div id="snake_container" class="hidden">
      use arrow keys to move the snake
      <iframe src="/snake/snake.html" height="500" width="400" scrolling="no">
    </div>
  </div>
</div>
